.slider { position: relative; }

.slider .bar, .slider .handle, .slider .range {
	position: absolute;
	pointer-events: none;
	border-radius: 5px;
}

.slider .bar                { background: #765; }
.slider .handle             { background: #3d9ecb; pointer-events: all; cursor: pointer; }
.slider .handle:hover       { background: #6eb6d8; }
.slider .handle:active      { background: #a3cce0; }
.slider .handle.deactivated { background: #ba9; cursor: auto; }
.slider .range              { background: #3283a9; }
.slider .range.deactivated  { background: #987; }

