.slider {
	margin: 6px 0px 12px 0px;
}
.slider .container {
	position: relative;
	height: 24px;
}
.slider .bar {
	position: relative;
	top: 3px;
	left: 3px;
	height: 18px;
	background: #876;
	border-radius: 9px;
}
.slider .filling {
	position: absolute;
	top: 3px;
	left: 3px;
	height: 18px;
	background: #3d9ecb;
	border-radius: 9px;
}
.slider .handle {
	position: absolute;
	top: 0px;
	width: 18px;
	height: 18px;
	border: 3px solid #fff;
	border-radius: 12px;
	cursor: pointer;
}

